header {
  color: #e67817;
}

.code{
    -moz-border-radius:.3em;
    -webkit-border-radius:.3em;
    border-radius:.3em;
    background-color:#e2e2e2;
    color:#000;
    font-family:'Fira mono', 'Courier New', Courier, monospace;
    font-size:85%;
    letter-spacing:.05em;
    padding:1em;
}




main {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 4em;
}

main a,
main a:active,
main a:focus,
main a:hover,
main a:link,
main a:visited {
    font-family: 'fira mono';
    text-transform: uppercase;
    font-size:90%;
    color:black;
    border-bottom: 1px dotted black;
}

main header {
    font-size: 80%;
}

section {
    margin: 4em 0;
}

.aligncontent-center {
    text-align: center;
}

.wrapper {
	overflow:hidden;
	background:#fff;
	height:80px;
	border-top: 3px solid #e67817;
}

.main-header {
    text-align: center;
    font-weight:300;
    font-size: 90%;
}

.toolbar {
	width:90%;
	padding-top:20px;
	margin:0 auto;
    background-color: transparent;
	height:60px;
}

.menu-button {
  position: relative;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.menu-button:before {
  content: "";
  position: absolute;
  right: 3px;
  border-bottom: 17px double #e67817;
  border-top: 6px solid #e67817;
  width: 30px;
  height: 5px;
}

.menu-left {
	position:absolute; right:5%;
}

.sidebar { text-align:center;
    margin: 0;
    padding-top: 1em;
    color: white;
    background-color:#e67817;
}

.sidebar h6 {
    margin: 0 .8em;
    padding: 0;
    font-weight:300;
}

.sidebar li {
font-family:"微软雅黑";
}
.sidebar li a{ display:block;
font-family:"微软雅黑";
    padding: 1em;
	
    line-height: 32px;
}

.sidebar li:hover {
    background-color: #cd6910;
}

.sidebar hr {
    margin: 2em auto;
    border: 0;
    padding: 0;
    width: 80%;
    height: 1px;
    background-color: white;
    
}
